@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

@-webkit-keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074D9; }
  32%      { color: #2ECC40; }
  48%      { color: #FFDC00; }
  64%      { color: #B10DC9; }
  80%      { color: #FF4136; }
}

@-moz-keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074D9; }
  32%      { color: #2ECC40; }
  48%      { color: #FFDC00; }
  64%      { color: #B10DC9; }
  80%      { color: #FF4136; }
}

@keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074D9; }
  32%      { color: #2ECC40; }
  48%      { color: #FFDC00; }
  64%      { color: #B10DC9; }
  80%      { color: #FF4136; }
}

.feed {
  &__item {
    @include margin-bottom(1.25);

    &:last-child {
      @include margin-bottom(.5);
    }

    &-title {
      font-size: $typographic-base-font-size * 1.6875;
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-bottom(.5);

      &-link {
        color: $color-base;
        -webkit-animation: color .3s ease-in-out;
        -moz-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out;

        &:hover,
        &:focus {
          color: $color-base;
          -webkit-animation: zomg 3s infinite;
          -moz-animation: zomg 3s infinite;
          animation: zomg 3s infinite;
          border-bottom: 1px solid $color-base;
        }

      }

    }

    &-description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(.75);
    }

    &-meta {
      &-time {
        font-size: $typographic-small-font-size;
        color: $color-base;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: $typographic-small-font-size;
          color: $color-secondary;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-primary;
          }

        }

      }

    }

    &-readmore {
      font-size: $typographic-base-font-size;
      color: $color-primary;

      &:hover,
      &:focus {
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
      }

    }

  }

}
